<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-warning fw-bold" href="#">MovieLair</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#featured-movies">Featured</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#now-showing">Now Showing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search Movies" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
      <a href="{% url 'website:login-view-get' %}" class="btn btn-outline-warning mx-2">login</a>
      <a href="" class="btn btn-outline-warning mx-2">Register</a>
    </div>
  </div>
</nav>